<style>

	.smaller-image {
	width: 100px ;
	}
	.bigger-image {
	width:500px ;
	}
	.red-text {
	color: red;
	}
	.blue-text {
		color: blue;
	}
	.green-text {
		color: green;
	}

  Body{
	background-color: rgba(50, 104, 114, 0.801)
  }

	/* START image gallery styling*/
  div.gallery {
		margin: 5px;
		border: 1px solid #ccc;
		float: left;
		width: 180px;
	}
	
	div.gallery:hover {
		border: 1px solid #777;
	}
	
	div.gallery img {
		width: 100%;
		height: auto;
	}
	
	div.desc {
		padding: 15px;
		text-align: center;
	}
  /*STOP image gallery styling*/
	
</style>
