<style>

	.smaller-image {
	width: 100px ;
	}
	.bigger-image {
	width:500px ;
	}
	.red-text {
	color: red;
	}
	.blue-text {
		color: blue;
	}
	.green-text {
		color: green;
	}

Body{
	background-color: rgba(50, 104, 114, 0.801)
}
</style>
